torch
Pillow>=10.3.0
pyopengl
gitpython
matplotlib
numpy>=1.23.5
opencv-python
psutil 
PyYAML
requests
scipy
thop
torchvision
tqdm
ultralytics
streamlit==1.29.0

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Deploy ----------------------------------------------------------------------
setuptools>=65.5.1