torch
Pillow
pyopengl
gitpython
matplotlib
numpy
opencv-python
psutil 
PyYAML
requests
scipy
thop
torchvision
tqdm
ultralytics
streamlit

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Deploy ----------------------------------------------------------------------
setuptools # Snyk vulnerability fix