torch
Pillow
pyopengl
gitpython
matplotlib
numpy
opencv-python
psutil 
PyYAML
requests
scipy
thop
torchvision
tqdm
ultralytics

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Deploy ----------------------------------------------------------------------
setuptools>=65.5.1 # Snyk vulnerability fix